// 公共变量
$root-size: 16px;
$primary-bg: #fff;
$basic-bg: #f7f7f7;
$primary-color: #26a2ff;
$text-color: #333;
$info-color: #999;
$border-color: #e4e7ed;

// 头像
@mixin rounded-avatar($size: 100px) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

// 面板
@mixin absolute-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// 文字超出省略
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// px 转 rem
@function pxToRem($px) {
  @return $px / $root-size * 1rem;
}